<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hunger Apps</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
</head>
<body>
<a href="#maincontent" class="skip-link">Menuju ke konten</a>
<header class="header">
    <div class="header__inner">
        <h1 class="header__title">
            Hunger Apps
        </h1>
    </div>
    <button id="menu" class="header__menu">☰</button>
</header>

<nav id="drawer" class="nav">
    <ul class="nav__list">
        <li class="nav__item"><a href="./">Home</a></li>
        <li class="nav__item"><a href="#">favorites</a></li>
        <li class="nav__item"><a href="https://instagram.com/arifaksah?igshid=YmMyMTA2M2Y=">About Us</a></li>
    </ul>
</nav>

<div class="hero">
 <img src="images/heros/hero-image_1.jpg" alt="">
 <p class="title">Selamat Datang Di hunger Apps</p>
</div>
<main id="maincontent">
    <section class="content">
        <div class="latest">
            <h1 class="latest__label">Explore Restaurant</h1>
            <div class="posts">
                <article class="post-item">
                    <img class="post-item__thumbnail"
                         src="https://restaurant-api.dicoding.dev/images/medium/41"
                         alt="Gambar meja restoran dengan dekorasi bernuansa biru dan putih">
                    <div class="rating">Rating:4.6</div>
                    <div class="post-item__content">
                        <p class="post-item__date">Lokasi Restoran : <a href="#" class="post-item__date__author">Medan</a>
                        </p>
                        <h1 class="post-item__title"><a href="#">Bring Your Phone Cafe</a></h1>
                        <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.,
                        </p>
                    </div>
                </article>
                <article class="post-item">
                    <img class="post-item__thumbnail"
                         src="https://restaurant-api.dicoding.dev/images/medium/07"
                         alt="sebuah bangunan restoran outdoor dengan beberapa beja berpayung dan parkiran ada mobil dan motor">
                    <div class="rating">Rating:4.6</div>
                    <div class="post-item__content">
                        <p class="post-item__date">Lokasi Restoran : <a href="#" class="post-item__date__author">Bali</a>
                        </p>
                        <h1 class="post-item__title"><a href="#">Run The Gun</a></h1>
                        <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.,
                        </p>
                    </div>
                </article>
                <article class="post-item">
                    <img class="post-item__thumbnail"
                         src="https://restaurant-api.dicoding.dev/images/medium/38"
                         alt="beberapa orang sedang menikmati pesanan yang disediakan">
                    <div class="rating">Rating:4.7</div>
                    <div class="post-item__content">
                        <p class="post-item__date">Lokasi Restoran : <a href="#" class="post-item__date__author">Malang</a>
                        </p>
                        <h1 class="post-item__title"><a href="#">Ducky Duck</a></h1>
                        <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.,
                        </p>
                    </div>
                </article>

                <article class="post-item">
                    <img class="post-item__thumbnail"
                         src="https://restaurant-api.dicoding.dev/images/medium/29"
                         alt="ruangan yang berisi beberapa kursi dan meja dengan nuansa ruangan berwana merah dan hitam">
                    <div class="rating">Rating:4.8</div>
                    <div class="post-item__content">
                        <p class="post-item__date">Lokasi Restoran : <a href="#" class="post-item__date__author">Ternate</a>
                        </p>
                        <h1 class="post-item__title"><a href="#">Pangsit Express</a></h1>
                        <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.,
                        </p>
                    </div>
                </article><article class="post-item">
                    <img class="post-item__thumbnail"
                         src="https://restaurant-api.dicoding.dev/images/medium/40"
                         alt="restoran dengan tatanan meja secara outdoor lokasi dengan nuansa gang">
                    <div class="rating">Rating:3.8</div>
                    <div class="post-item__content">
                        <p class="post-item__date">Lokasi Restoran : <a href="#" class="post-item__date__author">Bali</a>
                        </p>
                        <h1 class="post-item__title"><a href="#">Kafein</a></h1>
                        <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.,
                        </p>
                    </div>
                </article>

                <article class="post-item">
                    <img class="post-item__thumbnail"
                         src="https://restaurant-api.dicoding.dev/images/medium/08"
                         alt="sepiring makanan dmewa dan beberapa gelas berjejer">
                    <div class="rating">Rating:4.6</div>
                    <div class="post-item__content">
                        <p class="post-item__date">Lokasi Restoran : <a href="#" class="post-item__date__author">Medan</a>
                        </p>
                        <h1 class="post-item__title"><a href="#">Makan mudah</a></h1>
                        <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.,
                        </p>
                    </div>
                </article>
                <article class="post-item">
                    <img class="post-item__thumbnail"
                         src="https://restaurant-api.dicoding.dev/images/medium/32"
                         alt="restoran yang bernuansa klasik dengan sepeda digantung">
                    <div class="rating">Rating:3.6</div>
                    <div class="post-item__content">
                        <p class="post-item__date">Lokasi Restoran : <a href="#" class="post-item__date__author">surabaya</a>
                        </p>
                        <h1 class="post-item__title"><a href="#">Saya Suka</a></h1>
                        <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.,
                        </p>
                    </div>
                </article>

                <article class="post-item">
                    <img class="post-item__thumbnail"
                         src="https://restaurant-api.dicoding.dev/images/medium/45"
                         alt="beberapa meja makan yang berjejer dengan kursi berwarna hijau">
                    <div class="rating">Rating:4.0</div>
                    <div class="post-item__content">
                        <p class="post-item__date">Lokasi Restoran : <a href="#" class="post-item__date__author">aceh</a>
                        </p>
                        <h1 class="post-item__title"><a href="#">Gigitan Cepat</a></h1>
                        <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.,
                        </p>
                    </div>
                </article>
                <article class="post-item">
                    <img class="post-item__thumbnail"
                         src="https://restaurant-api.dicoding.dev/images/medium/04"
                         alt="beberapa orang terlihat sedang mengantri untuk memesan makanan">
                    <div class="rating">Rating:3.0</div>
                    <div class="post-item__content">
                        <p class="post-item__date">Lokasi Restoran : <a href="#" class="post-item__date__author">aceh</a>
                        </p>
                        <h1 class="post-item__title"><a href="#">Fairy Cafe</a></h1>
                        <p class="post-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.,
                        </p>
                    </div>
                </article>


                

            </div>
        </div>
    </section>
</main>
<footer>
    <h2>copyright &copy; 2022 Hunger-Apps</h2>
</footer>
</body>
</html>
